     <table border="0"><tr><td width="650px">
     <center/><p class="tit1">Протокол за вземане за ремонт&nbsp;&nbsp;&nbsp;No. {{rid}}
     <b>/{{dateGot}}</b></p>
     </td></tr>
     <tr><td>
     <div style="font-size:16px;float:left"> За контакти <b>тел. 052/ 321 321</b>.</div>
     <div style="font-size:16px;float:right;">Телефон на клиента: <b> {{phone}} </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
     </td></tr>
     <tr><td><table class="bt" cellspacing="0"><tr><td width="630"px><center/>
     Днес {{dateGot}} представител на ФЛАЙ СИСТЕМ ООД прие за ремонт компютърна техника от: <u><b> {{customer}} </b></u> <br/>
     Информация от клиента: <u><b>{{problem}} </b></u>
     <br/><br/><al>
      <li class="sm">Приел: <u>{{entBy}}</u></li>
      <li class="sm">Окомплектовка: <b>{{cFlags}}</b>. Особености: {{notes}} </li>
       <li class="sm">Продукт: {{config}} S/N: {{serial}} </li>
     </al>
     </td></tr></table>
     <div style="text-align:center;font-size: 14px;width:650px;">
      <al style="font-size:12px;text-align:justify">
       <li>С настоящия протокол фирма ФЛАЙ СИСТЕМ ООД може да извършва ремонт, настройки и конфигуриране на компютърната техника, като не носи отговорност за последствията от инсталиран нелицензиран софтуер.</li>
          <li>Флай Систем не носи отговорност за устройство не потърсено от клиента в продължение на повече от 60 календарни дни.</li>
     <li><b>Флай Систем препоръчва използването на <b>лицензиран софтуер.</b></li>
     </al>
        <br/>
              </p>
     <div  style="float:left;font-size:16px;"><b>Запознат съм с общите условия:</b> <br/><u></u>
     &nbsp;&nbsp;/Подпис/</div>
     <div style="float:right;font-size:16px;"><b>Получих устройството си:</b><br/><u</u>
     &nbsp;&nbsp;/Подпис/&nbsp;&nbsp;&nbsp;</div>
     </td></tr>
    </table>
    <br/>